<!DOCTYPE html>
<html lang="en">
{{!-- 
    -----------------      -----------------
    ***************** HEAD *****************
    -----------------      -----------------
 --}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/favlogo.png">
    <title>Amazon | Design Petition</title>
</head>


{{!-- 
    -----------------      -----------------
    ***************** BODY *****************
    -----------------      -----------------
 --}}

<body>
    {{!-- Inserting the body tag! --}}
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js" type="text/javascript"></script>

</body>

</html>