{{!-- The sign section --}}
<section class="sign">
    {{!-- Right the image part  --}}
    <div class="sign-image"></div>
    {{!-- The syntax part  --}}
    <div class="sign-syntax">
        <div class="container">
            {{!-- 
                       -----------------      -----------------
                       ***************** Head *****************
                       -----------------      -----------------
                                                            --}}
            <div class="inside__sign inside__profile">
                <h1 id="pet-header">A <span id="pet">petition</span> </h1>
                <h1>for a new Amazon Music <span id="des">design</span> </h1>
                <img class="logo" src="/logo.png" alt="The logo of amazon music">
            </div>
            {{!-- 
                       -----------------      -----------------
                       ***************** form *****************
                       -----------------      -----------------
                                                            --}}
            <div class="form__sign form__profile">
                <form id="main_form" method="POST" action="">
                    <h2>
                        Its Optional !<br> but we would be happy to know about you
                    </h2>
                    {{!-- Age input --}}
                    <input placeholder="Age" type="number" name="age" id="form_age">
                    <span class="error-age" id="error-age"></span>
                    {{!-- City input --}}
                    <input placeholder="City" type="text" name="city" id="form_city">
                    <span class="error-city" id="error-city"></span>
                    {{!-- Url input --}}
                    <input placeholder="Homepage" type="text" name="url" id="form_url">
                    <span class="error-url" id="error-url"></span>

                    <input class="hidden" type="hidden" name="_csrf" value="{{csrfToken}}" id="form_hidden">
                    <span class="error-sign" id="error-sign"></span>
                    {{!-- Submit--}}
                    <button id="submit">Submit</button>
                    {{!-- 
                       -----------------      -----------------
                       ***************** SOCM *****************
                       -----------------      -----------------
                                                            --}}
                    <div class="social-media">
                        <small id="following">Follow us, we don't bite.</small>
                        <a href=""><img src="/reddit.svg" alt=""></a>
                        <a href=""><img src="/twitter.svg" alt=""></a>
                        <a href=""><img src="/instagram.svg" alt=""></a>
                        <a href=""><img src="/medium.svg" alt=""></a>
                        <a href=""><img src="/hash.svg" alt=""></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>